.category{
    display: flex;
    justify-content: space-evenly;
    color: blue;
}
.copy{
    padding-top: 46px;
    padding-left: 175px;
    font-size: 13px;
}
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: 13px;
}
.footImage{
    margin-top: 30px;
}
.footImage img{
    padding: 0 40px;
}
.footer2Container{
    padding-bottom: 20px;
}


@media screen and (max-width:431px) {
    .col4, .col5{
        display: none;
    }
    .copy{
        padding-top: 46px;
        padding-left: 45px;
        font-size: 13px;
    }
    .footText{
        padding-left: 15px;
        text-align: center;
    }
    .footImage{
        display: flex;
    }
    .footImage div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}