*{
    box-sizing: border-box;
}
.navContainer{
    background-color: blue;
    padding-bottom: 35px;
    width: 100vw;
    
}
.navContainer1{
    width: 100%;
    background-color: blue;
    max-width: 1100px;
    margin:auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
.navButtons button {
    color: blue;
    margin: 0 8px;
    padding: 7px;
    border: none;
    font-size: 15px;
    border-radius: 3px;
}
.navCont1{
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.navContainer2{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 35px;
    display: flex;
    background-color: blue;
}
.navContainer2 .same{
    margin: 0 35px;
    display: flex;
    gap: 10px;
}
.navContainer2 .border{
    border-radius: 40px;
    padding: 10px 15px;
   
}.order{
    border: 1px solid white;
    background-color:rgba(255, 255, 255, 0.434);
}
.stayContainer{
    color: white;
    margin-right: 35px;
    display: flex;
    gap: 10px;
    
}
.flightContainer{
                  
    color: white;
}
.carContainer{
    color: white;
    
}
.attractContainer{
    color: white;
    margin: 0 0 0 35px;
    display: flex;
    gap: 10px;
}
.font{
    font-weight: 700;
   color: white;
    
}
.link{
    text-decoration: none;
}


@media screen and (max-width: 1000px) {
    .navCont1{
        padding-left: 75px;
    }
    .navButtons{
        padding-right: 55px;
    }
    .navContainer2{
        padding-left: 25px;
    }
}

@media screen and (max-width:431px) {
    .navCont1{
        padding-left: 35px;
    }
    .navButtons{
        padding-right: 15px;
    }
    .navButtons button{
    margin: 0 3px;
    }
    .navContainer2{
        width: 100%;
        padding-left: 2px;
        margin-top: 25px;
    }
    .navContainer2 .border{
        border-radius: 40px;
        padding: 5px 5px;
    }
    .stayContainer{
        color: white;
        margin-right: 5px;
        display: flex;
        gap: 5px;
        
    }
    .attractContainer{
        color: white;
        margin: 0 0 0 5px;
        display: flex;
        gap: 5px;
    }
    .navContainer2 .same{
        margin: 0 5px;
        display: flex;
        gap: 5px;
    }
}