*{
    box-sizing: border-box;
}
.trendingContainer{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.img1{
    position: relative;
    
}
.img2,.img3,.img4,.img5{
    position: relative;
}
.flag,.flag2,.flag3,.flag4{
    position: absolute;
    left: 15px;
    top: 19px;
}
.flag1{
    position: absolute;
    left: 15px;
    top: 19px;
    }
.flag span{
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-shadow: 5px 2px 5px rgb(53, 46, 46);
}
.flag1,.flag2,.flag3,.flag4 span{
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-shadow: 5px 2px 5px rgb(53, 46, 46);
   }
.flag img{
    box-sizing: border-box;
    padding-left: 5px;
}
.flag1 img{
    box-sizing: border-box;
    padding-left: 5px;
}
.flag2 img{
    box-sizing: border-box;
    padding-left: 5px;
}
.flag3 img{
    box-sizing: border-box;
    padding-left: 5px;
}
.flag4 img{
    box-sizing: border-box;
    padding-left: 5px;
}
.destinations{
    font-size: 23px;
    font-weight: 800;
    padding-left: 13px;
    padding-top: 25px;
    letter-spacing: 0.5px;
}
.popular{
    padding-left: 13px;
    padding-top: 3px;
    font-size: 18px;
    margin-bottom: 19px;
}
.imgContainer{
    display: flex;
    justify-content: space-between;
}
.imgContainer1{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.img1 img{
    border-radius: 10px;
}
.img2 img{
    border-radius: 10px;
}
.img3 img{
    border-radius: 10px;
}
.img4 img{
    border-radius: 10px;
}
.img5 img{
    border-radius: 10px;
}



@media screen and (max-width:1000px) {
   .image1, .image2{
    width: 380px;
   }
   .image3, .image4, .image5{
    width: 250px;
   }
}

@media screen and (max-width:431px) {
    .imgContainer{
        display: block;
        text-align: center;
         
    }
    .flag, .flag1{
        position: absolute;
        left: 32px;
        top: 19px;
    }
    .imgContainer1{
        display: block;
        text-align: center;
    }
    .image3{
        width: 380px;
    }
    .flag2, .flag3, .flag4{
        position: absolute;
        left: 32px;
        top: 19px;
    }
}